*.7z
*.db
obj/BackupCore.csproj.nuget.cache
obj/BackupCore.csproj.nuget.g.props
obj/BackupCore.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.0/BackupCore.dll
obj/Debug/netcoreapp2.0/BackupCore.pdb
obj/Debug/netcoreapp2.0/BackupCore.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/BackupCore.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/BackupCore.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/BackupCore.csproj.FileListAbsolute.txt
bin/Debug/netcoreapp2.0/BackupCore.dll
bin/Debug/netcoreapp2.0/7z.exe
bin/Debug/netcoreapp2.0/BackupCore.pdb
bin/Debug/netcoreapp2.0/BackupCore.deps.json
bin/Debug/netcoreapp2.0/BackupCore.runtimeconfig.json
bin/Debug/netcoreapp2.0/BackupCore.runtimeconfig.dev.json
